/* @import url('https://fonts.googleapis.com/css2?family=Play&display=swap'); */


body {
  font-family: 'Play';
  text-align: center;
  margin-top: 40px;
  font-size: 1.5em;
  
}

h4 {
  font-weight: normal;
  margin-bottom: 5px;
  font-family: 'Play';
  color: #000000;
}
h1 {
  font-weight: 1000;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 50px;
}
input{
  height: 30px;
  width: 200px;
}
.logo {
  border-radius: 150%;
  height: 100px;
}
img{
  
  height: 200px;
}
.content{
  padding-top: 20px;
  border: 2px solid #6e6e6e;
  height: 590px;
  background-image: linear-gradient(to left,#60f750 ,#4ddef8); 
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main * {
  margin-bottom: 12px;
}

input {
  text-align: center;
  font-size: large;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  text-transform: capitalize;
}

/* for styling the autocomplete style */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: var(--dark-color) !important;
}

button {
  background: #3330d8;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 0.8em;
  padding: 5px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
}
a {
  color: #000000;
  
}

/* dark mode css */
@media (prefers-color-scheme: dark) {
  body {
    background: var(--dark-color);
    color: #fff;
  }
  input,
  input:active {
    background: var(--dark-color);
    border-color: #fff;
    color: #fff;
  }

  /* for styling the autocomplete style */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
  }
}
