@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Play';
} 


#resume-template {
    display: none; 
    width: 100%;
    margin: 20px auto;
}  

.myImg {
    border: 1px solid black;
    border-radius: 50%;
    width: 200px;
}

.background {
    background-color: rgb(0, 255, 98);
}

h2 {
    font-size: 25px;
    font-weight: normal;
    margin: 10px 0;
}

#objectiveT {
    width: auto;
}

@media (max-width: 786px) {
    #resume-template {
        width: 100;
        margin: 10px auto;
    }  
}

@media print {
    body *{
        visibility: hidden;
    }
    #resume-template *{
        visibility: visible;
    }
}